﻿@using System.IO
@using Blazor.FileReader
@using Blazor.Model
@using Blazor.Data
@using Microsoft.AspNetCore.ProtectedBrowserStorage

@page "/add_excuse"

@inject ProtectedSessionStorage ProtectedSessionStore
@inject IFileReaderService fileReaderService
@inject ExcuseDelayService ExcuseDelayService
@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager NavigationManager

<EditForm Model="@_excuseDelay" OnValidSubmit="ValidSubmit">
    <div class="form-group">
        <label for="exampleInputEmail1">Titre</label>
        <input @bind-value="_excuseDelay.Titre" type="text" class="form-control" id="exampleInputEmail1" asp-for="ExcuseDelay.Titre" placeholder="Entrer un titre">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        <input @bind-value="_excuseDelay.Description" type="text" class="form-control" id="exampleInputPassword1" placeholder="Entrer une description">
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">Ajouter une image pour imager votre retard</label>
        <input type="file" @ref="fileUpload" @onchange="@UploadFile" class="form-control-file" id="fileUpload">
        <img src="@imageData" />
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Temps de retards(en min)</label>
        <input @bind-value="_excuseDelay.DelayTime" type="number" class="form-control" id="exampleInputPassword1" placeholder="Entrer  votre temps de retards">
    </div>
    <button type="submit" class="btn btn-primary">Créer</button>
</EditForm>
@functions {
    ElementReference fileUpload;
    string imageData = String.Empty;
    async void UploadFile(ChangeEventArgs changeEventArgs)
    {
        var files = await fileReaderService.CreateReference(fileUpload).EnumerateFilesAsync();

        using (MemoryStream memoryStream = await files.First().CreateMemoryStreamAsync())
        {
            imageData = $"data:image/png;base64,{Convert.ToBase64String(memoryStream.ToArray())}";
            StateHasChanged();
        }
    }
}
@code {
    private ExcuseDelay _excuseDelay = new ExcuseDelay();

    string idStudent = "";

    private async void ValidSubmit()
    {
        idStudent = await ProtectedSessionStore.GetAsync<string>("idStudent");
        StateHasChanged();
        ExcuseDelay excuseDelay = new ExcuseDelay
        {
            Titre = _excuseDelay.Titre,
            Description = _excuseDelay.Description,
            DelayTime = _excuseDelay.DelayTime,
            Photo = imageData,
            StudentId = Int32.Parse(idStudent),
            DateCreated = DateTime.Now
        };
        ExcuseDelayService.PostExcuseDelay(excuseDelay);
        NavigationManager.NavigateTo("/myExcuseDelays", forceLoad: true);
    }
}
