﻿@page "/"

@using Blazor.Data
@using Microsoft.AspNetCore.ProtectedBrowserStorage

@inject ExcuseDelayService ExcuseDelayService
@inject ProtectedSessionStorage ProtectedSessionStore

@if (topScores == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Le top 10 des retards</h1>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" @onclick="displayTopToday" class="btn btn-secondary">Jour</button>
                    <button type="button" @onclick="displayTopMonth" class="btn btn-secondary">Mois</button>
                    <button type="button" @onclick="displayTopYear" class="btn btn-secondary">Année</button>
                    <button type="button" @onclick="displayTopAllOfTime" class="btn btn-secondary">Tous les temps</button>
                </div>
                <table class="table table-image">
                    <thead>
                        <tr>
                            <th scope="col">Position</th>
                            <th scope="col">Image</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Description</th>
                            <th scope="col">Scores</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int counter = 0;
                        }
                        @foreach (dynamic forecast in topScores)
                        {
                            counter++;
                            <tr>
                                <th scope="row">@counter</th>
                                <td class="w-25">
                                    <img src="@forecast.Photo" width="70" class="img-fluid img-thumbnail" alt="Sheep">
                                </td>
                                <td>@forecast.Titre</td>
                                <td>@forecast.Description</td>
                                <td>@forecast.Amount</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@code {
    private List<TopScore> topScores;

    protected override async Task OnInitializedAsync()
    {
        topScores = await ExcuseDelayService.GetExcuseDelayTopScoreAsync();
    }
    public async void displayTopToday()
    {
        topScores = await ExcuseDelayService.GetExcuseDelayTopScoreTodayAsync();
        StateHasChanged();
    }
    public async void displayTopMonth()
    {
        topScores = await ExcuseDelayService.GetExcuseDelayTopScoreMonthAsync();
        StateHasChanged();
    }
    public async void displayTopYear()
    {
        topScores = await ExcuseDelayService.GetExcuseDelayTopScoreYearAsync();
        StateHasChanged();
    }
    public async void displayTopAllOfTime()
    {
        topScores = await ExcuseDelayService.GetExcuseDelayTopScoreAsync();
        StateHasChanged();
    }
}
