﻿@page "/login"

@using Blazor.Model
@using Microsoft.AspNetCore.ProtectedBrowserStorage


@inject Blazor.Data.StudentService StudentService
@inject NavigationManager NavigationManager
@inject ProtectedSessionStorage ProtectedSessionStore

<h1>Formulaire de connexion</h1>
<hr />
<EditForm Model="@studentLog" OnValidSubmit="@HandleValidSubmit" required>
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label for="pseudo">Pseudo: </label>
        <InputText required id="pseudo" class="form-control" @bind-Value="studentLog.Pseudo" />
    </p>
    <p>
        <label for="description">Mot de passe:</label>
        <InputText required id="description" class="form-control" type="password" @bind-Value="studentLog.Password" />
    </p>

    <button type="submit" class="form-control btn btn-primary">Connexion</button>

</EditForm>

@if (!isStudentFind)
{
    <h1>Error</h1>
}

@code {

    public Student studentLog = new Student();

    bool isStudentFind = true;

    public async void HandleValidSubmit()
    {

        var findStudent = await StudentService.GetStudentLogin(studentLog.Pseudo, studentLog.Password);

        if (findStudent.Count > 0)
        {
            await ProtectedSessionStore.SetAsync("idStudent", findStudent[0].Id.ToString());
            await ProtectedSessionStore.SetAsync("isConnected", true);
            NavigationManager.NavigateTo("myExcuseDelays");
        }
        else
        {
            isStudentFind = false;
            StateHasChanged();
        }
    }
}