﻿@page "/myExcuseDelays"

@using Blazor.Data
@using Blazor.Model
@using Microsoft.AspNetCore.ProtectedBrowserStorage

@inject ExcuseDelayService ExcuseDelayService
@inject ProtectedSessionStorage ProtectedSessionStore

<a class="btn btn-danger" href="add_excuse">Ajout d'un retard</a>

@if (myExcuseDelays == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-image">
        <thead>
            <tr>
                <th scope="col">Position</th>
                <th scope="col">Image</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Temps de retards</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 0;
            }
            @foreach (dynamic forecast in myExcuseDelays)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td class="w-25">
                        <img width="70" src="@forecast.Photo" class="img-fluid img-thumbnail" alt="Sheep">
                    </td>
                    <td>@forecast.Titre</td>
                    <td>@forecast.Description</td>
                    <td>@forecast.DelayTime min</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<ExcuseDelay> myExcuseDelays;

    bool noteContent = false;
    string idStudent = "";
    int comp = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // When execution reaches this point, the first *interactive* render
            // is complete. The component has an active connection to the browser.
            noteContent = await ProtectedSessionStore.GetAsync<bool>("isConnected");
            idStudent = await ProtectedSessionStore.GetAsync<string>("idStudent");
            StateHasChanged();
            comp = 0;
        }
        Test();
    }

    protected async void Test()
    {
        if (noteContent != true)
        {
            NavigationManager.NavigateTo("login");
        }
        else if (comp <= 1)
        {
             try
            {
                 myExcuseDelays = await ExcuseDelayService.GetExcuseDelayByStudentIdAsync(Int32.Parse(idStudent));
            }
            catch
            {
                myExcuseDelays = new List<ExcuseDelay>();
            }
            StateHasChanged();
            comp++;
        }
    }
}