﻿@page "/register"

@using Blazor.Model
@using System.Security.Cryptography;

@inject Blazor.Data.StudentService StudentService
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStore


<h1>Formulaire d'inscription</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="@studentLog" OnValidSubmit="@HandleValidSubmit" required>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student.Pseudo" class="control-label">Pseudo</label>
                <InputText @bind-Value="studentLog.Pseudo" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="Student.Mail" class="control-label">Mail</label>
                <InputText @bind-Value="studentLog.Mail" type="email" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="Student.Password" class="control-label">Mot de passe</label>
                <InputText @bind-Value="studentLog.Password" type="password" class="form-control" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </EditForm>
    </div>
</div>

@if (!isStudentFind)
{
    <h1>Error</h1>
}

@code{

    public Student studentLog = new Student();

    bool isStudentFind = true;

    public async void HandleValidSubmit()
    {
        isStudentFind = false;

        List<Student> findStudentWithSameMailOrPseudo = await StudentService.GetStudentsAuth(studentLog.Pseudo, studentLog.Mail);

        if (findStudentWithSameMailOrPseudo.Count == 0)
        {
            await StudentService.PostUserAsync(studentLog);
            NavigationManager.NavigateTo("login");
        }
    }
}