﻿@page "/vote"

@using Blazor.Data
@using Blazor.Model
@using Microsoft.AspNetCore.ProtectedBrowserStorage

@inject ExcuseDelayService ExcuseDelayService
@inject StudentService StudentService
@inject ScoreService ScoreService
@inject ProtectedSessionStorage ProtectedSessionStore

<h1>Voter pour votre retard favori</h1>

@if (excuseDelays == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Temps de retard</th>
                <th>Voter</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in excuseDelays)
            {
                <tr>
                    <td>@forecast.Titre</td>
                    <td>@forecast.Description</td>
                    <td>@forecast.DelayTime min</td>
                    <td>
                        @{
                            if (excuseDelayIdScore.Contains(forecast.Id))
                            {
                                <button style="width: 70%; height: 40px" type="button" class="btn btn-success">
                                    <span class="oi oi-check"></span>
                                </button>
                            }
                            else
                            {
                                <button style="width: 70%; height: 40px" type="button" @onclick="(() => voteScore(forecast.Id))" class="btn btn-dark">+10</button>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ExcuseDelay> excuseDelays;
    private ExcuseDelay excuseDelay;
    private Student student;
    private List<Score> scores;
    private List<int> excuseDelayIdScore = new List<int>();
    private string idStudent = "";
    private bool noteContent = false;
    private bool IsSearching = false;
    int comp = 0;

    protected async void Test()
    {
        if (noteContent != true)
        {
            NavigationManager.NavigateTo("login");
        }
        else if (comp <= 1)
        {
            idStudent = await ProtectedSessionStore.GetAsync<string>("idStudent");
            try
            {
                scores = await ScoreService.GetScoreByStudentIdAndExcuseDelayIdAsync(Int32.Parse(idStudent));
            }
            catch
            {
                scores = new List<Score>();
            }

            excuseDelays = await ExcuseDelayService.GetExcuseDelayAsync();
            foreach (var item in scores)
            {
                excuseDelayIdScore.Add(item.ExcuseDelayId);
            }
            StateHasChanged();
            comp++;
        }

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // When execution reaches this point, the first *interactive* render
            // is complete. The component has an active connection to the browser.
            noteContent = await ProtectedSessionStore.GetAsync<bool>("isConnected");
            idStudent = await ProtectedSessionStore.GetAsync<string>("idStudent");
            StateHasChanged();
            comp = 0;
        }
        Test();
    }

    public void voteScore(int idExcuse)
    {
        Score score = new Score
        {
            ScoreLesson = 10,
            ExcuseDelayId = idExcuse,
            StudentId = Int32.Parse(idStudent),
        };
        ScoreService.PostScoreAsync(score);
        StateHasChanged();
        comp = 0;
        Test();
    }
}
