﻿@inherits LayoutComponentBase
@using Microsoft.AspNetCore.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore

<div class="sidebar">
    <NavMenu />
</div>

@if (noteContent == true)
{
    <div class="main">
        <div class="top-row px-4">
            <button type="button" class="btn btn-secondary" @onclick="Disconnect">Déconnexion</button>
        </div>



        <div class="content px-4">
            @Body
        </div>
    </div>
}
else
{
    <div class="main">
        <div class="top-row px-4">
            <a class="btn btn-secondary" href="login">Connexion</a>
            <a class="btn btn-secondary" href="register">Inscription</a>
        </div>



        <div class="content px-4">
            @Body
        </div>
    </div>
}


@code{

    bool noteContent = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // When execution reaches this point, the first *interactive* render
        // is complete. The component has an active connection to the browser.
        noteContent = await ProtectedSessionStore.GetAsync<bool>("isConnected");
        StateHasChanged();
    }

    protected async void Disconnect()
    {
        await ProtectedSessionStore.DeleteAsync("isConnected");
        await ProtectedSessionStore.DeleteAsync("idStudent");
        NavigationManager.NavigateTo("login");
    }
}